body{
  background-color: #000;
}
.herobtn{
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.herobtn:hover{
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #a243ce 0%, #cd5cc5 50%, #ea5090 66%, #de4c89 100%);
}
audio {
  height: 45px;
  /* border: 2px solid #4caf50; */
  /* border-radius: 10px; */
  background-color: #f9f9f9;
  padding: 5px;
}
.box1{
  background-color: #0C0C0C;
  border: #333 solid 1px;
  margin: 15px;
  padding: 30px;
  width: 340px;
  border-radius: 10px;
}
.box1:hover{
  scale: 1.03;
  transition: all;
}
.box1 img{
  width: 40px;
}
.box1 h3{
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}
.box1 p{
  font-weight: 400;
  color: #ccc9dcd9;
  font-size:1rem;
}
.last-sec{
  width: 900px;
  /* height: 300px; */
  border-radius: 10px;
  background-image: linear-gradient(to right,#16163a98, #33183f8e);
 
}